//- provider-edit.pug
include ../includes/head.pug
div.container
  h1 Editar Fornecedor
  form.form(action="/provider/edit", method="POST")
    div.form-group
      label(for="name") Name:
      input.form-control(type="text", name="name")
    div.form-group
      label(for="description") Descrição:
      input.form-control(type="text", name="description")
    div.form-group
      label(for="cnpj") CNPJ:
      input.form-control(type="text", name="cnpj")
      
    input.btn.btn-primary.pull-right(type="submit", value="Salvar")
    a.btn.btn-secondary(href="/provider") Voltar

include ../includes/foot.pug