//- provider.pug 
include ../includes/head.pug
div.container
  h1= message    

  div.row
    div.col
      a(href="/provider/edit", class="btn btn-primary") cadastrar
    
  div.row
    div.col
      br
      table.table.table-responsive.table-sm
        thead.thead-dark
          tr
            th CNPJ
            th Nome
            th Descricao
        tbody
          each prov in list
            tr
              td #{prov.cnpj}
              td #{prov.name}
              td #{prov.description}

include ../includes/foot.pug